*{ padding:0px; margin:0px;}
html{ overflow:hidden;}
body{ background-color:#000;height:5600px;}

/*one, two, three, four, five, six, seven*/
#one{ position:absolute; z-index:-1; left:50%; top:0px; height: 800px; width: 1920px; margin-left:-960px; background-color:#999;}
#two{ position:absolute; z-index:-1; left:50%; top:800px; height: 800px; width: 1920px; margin-left:-960px; background-color:#CCC;}
#three{ position:absolute; z-index:-1; left:50%; top:1600px; height: 800px; width: 1920px; margin-left:-960px; background-color:#0CC;}
#four{ position:absolute; z-index:-1; left:50%; top:2400px; height: 800px; width: 1920px; margin-left:-960px; background-color:#60F;}
#five{ position:absolute; z-index:-1; left:50%; top:3200px; height: 800px; width: 1920px; margin-left:-960px; background-color:#FC0;}
#six{ position:absolute; z-index:-1; left:50%; top:4000px; height: 800px; width: 1920px; margin-left:-960px; background-color:#FCC;}
#seven{ position:absolute; z-index:-1; left:50%; top:4800px; height: 800px; width: 1920px; margin-left:-960px; background-color:#C9F;}

#progressBG{background:#000 url(../images/loading_bg.jpg) no-repeat center 0px; height:900px; left:0px; top:0px;}

.example{width:100%;font-size:80%; margin:0px; position:absolute; top:50%; margin-top:-5px; left:0px;}
h3 {text-align:center}

.ui-progressbar { height:18px; text-align: left; }
.ui-progressbar .ui-progressbar-value {margin: 0px; height:100%;}

/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 0px; -webkit-border-top-left-radius: 0px; -khtml-border-top-left-radius: 0px; border-top-left-radius: 0px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px; -khtml-border-top-right-radius: 0px; border-top-right-radius: 0px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 0px; -webkit-border-bottom-left-radius: 0px; -khtml-border-bottom-left-radius: 0px; border-bottom-left-radius: 0px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 0px; -webkit-border-bottom-right-radius: 0px; -khtml-border-bottom-right-radius: 0px; border-bottom-right-radius: 0px; }

/*.ui-widget-header { background: #f6a828 url(../images/pro01.jpg) 0px 0px repeat-x; color: #ffffff; font-weight: bold; }*/
.ui-widget-header { background:url(../images/loading_02.png) 0px 0px repeat-x; color: #ffffff; font-weight: bold; }
.ui-widget-header a { color: #ffffff; }
/*.ui-widget-content { background: #eeeeee url(../images/pro02.jpg) 0px 0px repeat-x; color: #333333; }*/
.ui-widget-content { background:url(../images/loading_03.png) 0px 0px repeat-x; color: #333333; }
.ui-widget-content a { color: #333333; }

.pbar .ui-progressbar-value {display:block !important}
.pbar {overflow: hidden}
.percent {position:relative;text-align: right;}
.elapsed {position:relative;text-align: right;}

#poster{ position:absolute; z-index:1; left:0px; top:0px; background:url(../images/haibao.jpg) no-repeat scroll center top transparent;
    height: 800px;
    width: 100%; display:none;}
	
.loading_ma{position:absolute; width: 196px; height: 185px; left:50%; margin-left:-98px; top: -209px; text-align:center;}
#loading_pic_a{position:absolute; left:50%; margin-left:-140px; top: 50%; margin-top:-96px;}
#loading_ma{position:absolute; color:#000; font-size:20px; width:60px; height:52px; line-height:52px; left:50%; margin-left:26px; top:50%; margin-top:-68px; display:block; text-align:center; font-weight:bold;}
#baojian{position:absolute; z-index:5; left:50%; margin-left:-350px; top:310px; display:none;}
	
#produce_ziti{ position:absolute; z-index:2; width:2000px; height:800px; left:50%; margin-left:-1000px; top:800px; background:url(../images/alaiyeshi.jpg); display:none;}
#ziti_one{ position:absolute; z-index:4; left:50%; margin-left:-207px; top:265px; background:url(../images/02_03.png) no-repeat 0px 0px; width:415px; height:128px;}
#ziti_two{ position:absolute; z-index:5; left:50%; margin-left:-25px; top:430px; background:url(../images/02_07.png) no-repeat 0px 0px; width:50px; height:34px;}
#ziti_three{ position:absolute; z-index:6; left:50%; margin-left:-207px; top:600px; background:url(../images/02_10.png) no-repeat 0px 0px; width:415px; height:106px;}
#ziti_four{position:absolute; z-index:3; left:50%; margin-left:-1000px; top:0px; background:url(../images/baotu.png) no-repeat 0px 0px; width:2000px; height:800px;}
#chengbao{ position:absolute; z-index:1; left:50%; margin-left:-525px; top:1600px; width:1050px; height:800px; background:url(../images/02_13.jpg) no-repeat 0px 0px; width:1050px; height:800px;}
#sparks{
	position: absolute;
	z-index: 7;
	left: 50%;
	margin-left: -64px;
	top: 2168px;
	background-image: url(../images/button/botton-01.png);
	width: 128px;
	height: 128px;
	cursor: pointer;
}
#ball10{ background:url(../images/people/xiangyu2.png) no-repeat -170px 0px; width:450px; height:223px; z-index:290;}
	 #ball3{ background:url(../images/people/longqie.png) no-repeat -270px -280px; width:195px; height:223px; z-index:282;}
	 #ball4{ background:url(../images/people/simaxin.png) no-repeat -270px -280px; width:195px; height:200px; z-index:283;}
	 #ball8{ background:url(../images/people/fankuai.png) no-repeat -270px -280px; width:195px; height:215px; z-index:284;}
	 #ball6{ background:url(../images/people/yuji.png) no-repeat -270px -280px; width:195px; height:215px; z-index:285;}
	 #ball2{ background:url(../images/people/qinwangziyin3.png) no-repeat -288px 0px; width:155px; height:175px; z-index:286; overflow:hidden;}
	 #ball5{ background:url(../images/people/hanxin.png) no-repeat -270px -280px; width:195px; height:210px; z-index:287;}
	 #ball7{ background:url(../images/people/fanzeng.png) no-repeat -270px -280px; width:195px; height:202px; z-index:288;}
	 #ball1{ background:url(../images/people/xiangzhuang.png) no-repeat -270px -280px; width:195px; height:202px; z-index:289;}
	 #ball9{ background:url(../images/people/caowushang.png) no-repeat -270px -280px; width:195px; height:202px; z-index:281;}
	 #kuang{position:absolute; z-index:1; left:50%; top:2400px;
    height: 800px;
    width: 1920px; margin-left:-960px; background-color:green;}
#cardList{position:absolute; z-index:0; left:50%; top:3200px;
    height: 800px;
    width: 1920px; margin-left:-960px; background-color:yellow;}
	#featured-area {
	position:relative;
	z-index:2;
	top:3270px;
	height:484px ;/*337px 37 300   311*484*/
	width:1050px ; /*950px 350 600*300*/ padding-top:50px;
	left:50%;
	margin-left:-525px;
}

#featured-area img{ border:none}


.roundabout-holder {
	list-style:none; 
	width:800px; 
	height:484px; 
	margin:0px auto;
}

.roundabout-moveable-item {
	font-size:12px!important;
	height:484px; 
	width:311px;
	cursor:pointer;
border:1px solid #aaaaaa;
	background:#ffffff; 
	/*padding:5px;
	border:1px solid #aaaaaa;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	background:#f9f9f9;*/
}

.roundabout-moveable-item img {
	height:100%;
	width:100%;
	margin:0;
}

.roundabout-in-focus {
	cursor:auto;
}

.roundabout-in-focus:hover {
	/*-webkit-box-shadow:0px 0px 20px #787878;
	-moz-box-shadow:0px 0px 20px #787878;
	background:#f9f9f9;*/
}

.roundabout-holder span	 {
	display:none;
	font-size:11px;
}

.roundabout-in-focus:hover span	{
	display:inline;
	position:absolute;
	bottom:5px;
	right:5px;
	padding:8px 20px;
	background:#f9f9f9;
	color:#8A428B;
	z-index:999;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topLeft: 5px;
	font-size : 11px;
	border-left:1px solid #aaaaaa;
	border-top:1px solid #aaaaaa;
}

.roundabout a:active, .roundabout a:focus, .roundabout a:visited {
	outline:none;
	text-decoration:none;
}

.roundabout li {
	margin:0
}
#featured-area .indicators { height: 28px; width: 640px; margin: 0 auto; position: absolute; left: 50%; margin-left:-320px; bottom: -20px; text-align: center; z-index: 20; }
#featured-area .indicators .card-indicator { height: 28px; width: 28px; background: transparent url(../images/screenshot-overlay.png) -325px -262px no-repeat; display: inline-block; }
#featured-area .indicators .card-indicator:hover { cursor: pointer; background-position: -355px -262px; }
#featured-area .indicators .card-indicator.active { background-position: -385px -262px; }
/* Example wrapper */
.wrap {
	position: relative;
	z-index:2;
	width:640px;
	left:50%;
	margin-left:-320px;
	top:3466px;
	height:800px;
}

/* Frame */
.frame {
	height: 480px;
	line-height: 480px;
	overflow: hidden;
}
.frame ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 50px;
}
.frame ul li {
	float: left;
	width: 640px;
	height: 100%;
	margin: 0 1px 0 0;
	padding: 0;
	background: #333;
	color: #ddd;
	text-align: center;
	cursor: pointer;
}
.frame ul li.active {
	color: #fff;
	background: #a03232;
}

/* Controls */
.controls { margin: 25px 0; text-align: center; }

/* Effects */
.effects {
	height: 480px;
	line-height: 480px;
	padding-top:80px;
	overflow-y: show;
}
.effects ul li {
	position: relative;
	margin: 0px;
	border:1px #0F0 solid;
}
.effects ul li.active {
	z-index: 10;
}
.btn{ background:url(../images/btn_slideshow.png) no-repeat; width:60px; height:80px; border:none; cursor:pointer;}
.prev{background-position:0px -80px; position:absolute; z-index:999; left:50%; margin-left:-525px; top:4360px;}
.next{ background-position:0px 0px; position:absolute; z-index:999; right:50%; margin-right:-525px; top:4360px;}
.prev:hover{background-position:0px -240px;}
.next:hover{background-position:0px -160px;}
.disabled{opacity: 0.3; filter:alpha(opacity=30);}
.btn i{display: block; width: 60px; height: 80px; text-indent:-100px; overflow:hidden;}
#xiang_du{ background:url(../images/people/xiang_du.png) no-repeat; width:319px; height:385px;}/*top:4185px;*/
#qinwang_du{ background:url(../images/people/qin_du.png) no-repeat; width:250px; height:350px;}/*top:4215px;*/
#lastest{position:absolute; z-index:0; left:50%; top:4800px; height: 800px; width: 1920px; margin-left:-960px; background:#C9F url(../images/guanzhu.jpg) center center no-repeat;}